<div class="row">

  <button type="button" class="btn btn-primary col-sm-4"><%= link_to "Herf" , root_path , :class => 'text-dark'%></button>
  <button type="button" class="btn btn-secondary col-sm-4"><%= link_to "Add" , root_path , :class => 'text-dark'%></button>
  <button type="button" class="btn btn-success col-sm-4"><%= link_to "new" , root_path , :class => 'text-dark'%></button>
   
</div>